@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@400&display=swap');

*
{
    font-family: 'BioRhyme', serif;
}

#head {
    background-color: black;
    color: blanchedalmond;
    text-align: left;
    text-justify: left;
}

.image img{
    max-width: 100%;
    height: 300px;
    border: 10px solid black;
}

#more,#more2,#more1,#more3,#more4,#more5,#more6,#more7 {display: none;}

.heading h1{
    font-family: 'BioRhyme', serif;
    font-weight: bold;
    font-weight: 300;
    
}

p{
    font-weight: 300;
    font-family: 'BioRhyme', serif;
}

#fir
{
    padding: 25px 0;
}
#sec
{
    background-color: black;
    color: blanchedalmond;
    text-align: right;
    text-justify: auto;
    padding: 50px 0;
}

#slideshow { 
    margin: auto; 
    position: relative; 
    height: 300px;
    padding: 10px; 
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

#slideshow1 { 
    margin: auto; 
    position: relative; 
    height: 300px; 
    padding: 10px; 
}

#slideshow1 > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

#slideshow2 { 
    margin: auto; 
    position: relative; 
    height: 300px; 
    padding: 10px; 
}


#slideshow2 > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

#slideshow3 { 
    margin: auto; 
    position: relative; 
    height: 300px; 
    padding: 10px; 
}


#slideshow3 > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

#slideshow4 { 
    margin: auto; 
    position: relative; 
    height: 300px; 
    padding: 10px; 
}


#slideshow4 > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

#slideshow5 { 
    margin: auto; 
    position: relative; 
    height: 300px; 
    padding: 10px; 
}


#slideshow5 > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

#slideshow6 { 
    margin: auto; 
    position: relative;      
    height: 300px; 
    padding: 10px; 
}


#slideshow6 > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

