* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.navbar-1 {
    font-size: 18px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}

.main-nav {
    list-style-type: none;
    display: none;
    background-color: white;
}

.nav-links,
.logo {
    text-decoration: none;
    color: black;
    padding: 4px 0;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
    font-weight: bold;
    color: black;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.my-navbar-toggle {
    float: right;
    margin-right: 20px;
    cursor: pointer;
    font-size: 24px;
    margin-top: 30px;
}

.my-dropdown-content a {
    float: none;
    color: rgb(68, 68, 68);
    padding: 12px 16px;
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    display: block;
}

.my-dropdown-content {
    display: none;
}

.my-nav-active,
.my-nav-active a {
    display: block;
}

@media screen and (min-width: 768px) {
    .navbar-1 {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        margin-top: 25px;
        flex-direction: row;
        justify-content: flex-end;
        width: fit-content;
        float: right;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin-top: 0;
    }

    .my-navbar-toggle {
        display: none;
        color: black;
    }

    .logo:hover,
    .nav-links:hover {
        color: black;
    }

    .my-dropdown-content a:hover {
        background-color: #ddd;
    }

    .my-dropdown:hover .my-dropdown-content {
        display: block;
    }
    .my-dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    .my-dropdown {
        float: left;
        overflow: hidden;
    }

    .my-dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
}
/*  Button css   */
/* buttons */

.btn-rk {
    text-align: center;
  }
  .btn-hovers {
    width: 150px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: -13px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    /* border-bottom-right-radius: 50px; */
    /* border-top-left-radius: 50px; */
    /* border-radius: 50px; */
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    /* border-end-start-radius: 50px; */
  }
  
  .btn-hovers:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .btn-hovers:focus {
    outline: none;
  }
  
  .btn-hovers.color-1 {
    background-image: linear-gradient(to right, rgb(26, 25, 25), rgb(34 34 34 / 87%), rgb(34 34 34 / 87%), rgb(26, 25, 25));
    /* box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75); */
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
  }
  .btn-hovers.color-2 {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
  }
  .btn-hovers.color-6 {
    background-image: linear-gradient(to right, rgb(26, 25, 25), rgb(34 34 34 / 87%), rgb(34 34 34 / 87%), rgb(26, 25, 25));
    /* box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75); */
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
  }

  @media only screen and (max-width: 600px) {
    .btn-hovers {
      width: 100px;
      margin: -3px;
    }
    .btn-rk {
      text-align: center;
    }
  }
