.div-12{
display: flex;
align-items: center;
justify-content: center;
border: 3px solid grey;
margin: 10px;
height: 600px;
}
.main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.div-1{
  margin: 10px;
    width: 400px;
    background-color: grey;
    height:300px;
    border-radius: 20px;
background-image: url('slide4.jpg');
}
.div-2{
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    width: 400px;
    height:auto;
    background-color: rgb(243, 240, 240);
    
}
.div-1 img{
 width: inherit;
height: inherit;
 border-radius: 20px;
 flex-wrap: wrap;}
.navbar img{
    height: 50px;
    
}
.div-12{
    flex-direction: column;
}

@media screen and (max-width: 968px){
     .div-12{
        
         flex-direction: column;
     }
     .div-1{
         width: 340px;
         height: 350px;

     }
     .div-2{
         width: 340px;
         height:auto;
         flex-direction: column;
     }

}